.hero-section {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  opacity: 0.7; /* Semi-transparent image */
}

.hero-section h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  color: #4CAF50; /* Green text color */
}

.hero-section p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  color: #333;
}

.cta-buttons {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover {
  background-color: #45a049;
}
